        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flex-container{
            display: flex;
            background-color: DodgerBlue;
            justify-content: space-between;
            top: 0px;
            position: sticky;


        }

        .flex-container > h1{
            line-height: 45px;
            font-size: 2rem;
            margin: 0;
            font-family: Georgia,serif;

        }

        .flex-container > ul {
            position: -webkit-sticky;
            position: sticky;
            justify-content: end;
            list-style-type: none;


          margin: 0;
          padding: 0;
          overflow: visible;
          background-color: dodgerblue;

        }
        .flex-container > img{
            width: 10%;
            height: auto;
            margin: 0;
            padding: 0;
            overflow: visible;
        }

        li {
          float:left;

        }

        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;

        }

        li a:hover:not(.active) {
          background-color: rgba(47,170,146,0.45);
        }

        .active {
          background-color: #4CAF50;
        }

        .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: #5B53ED;
           color: white;
           text-align: center;
        }
        .flex-container-footer{
            display: flex;
            justify-content: center;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: dodgerblue;
            color: white;
            text-align: center;
        }
        .flex-container-footer > p{
            padding-inline: 3em;
        }
        .main-body{
            display: flex;
            background-color: #3A7734;
            flex-direction: column;
        }
        .main-body > div{
            background-color: #ED74E5;
            text-align: center;
        }

        .main-body > p{
            font-size: 3em;
        }

        .sectionStuff{
            background-color: #AE71E3;
            margin: 4em;
            padding: 3em;


        }
        .inner-flexbox{

            display: flex;
            justify-content: space-around;
            align-items: stretch;
            flex-direction: row;
            background-color: #AE71E3;
            padding: 2em;
            margin: 1em;
        }
        .inner-flexbox > p{
            flex: 1 1 0px
        }
        #headerrow{
            background-color: #72a9ff;
        }
