<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title >CSCB63 Coursepage</title>
    <link rel="icon" href="{{ url_for('static',filename='b63_website_icon.png')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <div class="flex-container">
        <img src="{{ url_for('static',filename='uoftLogo.jpg')}}">
        <h1>CSC B63 - Data Structures</h1>
        {%block navbar%}
        {% endblock %}
    </div>



    <div class="main-body">
        {% block main %}
        {% endblock %}


    </div>


    <footer>
        <div class="flex-container-footer">
            <p><a href="https://www.utsc.utoronto.ca/cms/faculty"> UTSC CMS faculty</a></p>
            <p><a href="{{ url_for('blurb') }}">About us</a> </p>
        </div>
    </footer>



</body>
</html>