{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a  href="{{ url_for("home") }}">Home</a></li>
        <li><a href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}

    <div>
        <h1 > Blurb: About Us</h1>


        <div class="sectionStuff">
            <h3>This is a short blrub on who we are</h3>
            <p>
                This is the website designed by Carlos Huang and Jenny Su.
                We are two students from UofT Computer Science. We like pie. We like playing exciting games together,
                watching excellent movies together, and of course, taking awesome course like CSCB20 together!
            </p>

        </div>

    </div>


{% endblock %}
