{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a  href="{{ url_for("home") }}">Home</a></li>
        <li><a class="active" href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}

    <div>
        <div id="headerrow" class="inner-flexbox">

            <p>Week</p>
            <p>Topic</p>
            <p>Wed Pre-Lecture Reading/Exercise</p>
            <p>Thursday Pre-Lecture Reading/Exercise</p>
            <p>Wednesday Slides/Video</p>
            <p>Thursday Slides/Video</p>
            <p>Tutorial Handout</p>
            <p>Tutorial Solutions</p>


        </div>

        <div id="week1" class="inner-flexbox">
            <p>1</p>
            <p>Intro, Worst Case Complexity</p>
            <p>None</p>
            <p>CLRS 3.1 (not including little "oh") or watch Big Oh Video <a href="https://www.youtube.com/watch?v=__vX2sjlpXU">(link)</a>
                Insertion Sort Video <a href="https://www.youtube.com/watch?v=JU767SDMDvA">(link)</a>
            </p>
            <p>Intro slides PDF (link)</p>
            <p>Worksheet PDF <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/worksheet1.pdf">(link)</a><br> Zoom
                <a href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">(link)</a> <br>
                In class worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/worksheet1_inclass.pdf">(link)</a> <br>
                PDF of Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/complexity.pdf">(link)</a>
            </p>
            <p>None</p>
            <p>None</p>
        </div>

        <div id="week2" class="inner-flexbox">
            <p>2</p>
            <p>Balanced Trees (AVL)</p>
            <p>None</p>
            <p>Refresh your understanding of binary search trees video visualization applet <a href="https://www.youtube.com/watch?v=__vX2sjlpXU">(link)</a></p>
            <p>Worksheet PDF <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/worksheet2_2021.pdf">(link)</a> <br>
                Inclass Worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w2/worksheet1_inclass_thursday.pdf">(link)</a> <br>
                slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/complexity_part2.pdf">(link)</a>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/cPkKVMthfBjSNh8C9arS5iU0ZBNtkUX8etKMklUCM8aPpiVtnl2_Y5YR_cWddFB2vlWa0jkGSEqWNEhk.hNVzvFkr8380FGns">(link)</a>
            </p>
            <p>Worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w2/avl_worksheet.pdf">(link)</a> <br>
                Inclass Worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w2/avl_worksheet_inclass.pdf">(link)</a> <br>
                slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w2/balancedtrees.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/YJYxBNbdKY8lIY98qjI_jHY5ZC73gSUeFCtAKmy6xJF6GEtw_VWFTFGr_guqhthaDEoRhYogPHBbR3fa.c5lUGL0uWjqS5aUX">(link)</a>
            </p>
            <p>Tutorial Handout <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf">(link)</a>
            <p>Tutorial Solutions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2_soln.pdf">(link)</a></p>
        </div>

        <div id="week3" class="inner-flexbox">
            <p>3</p>
            <p>AVL Trees height, and Augment. Interval Trees</p>
            <p>None</p>
            <p>None</p>
            <p>AVL trees augmenting worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/avl_aug_worksheet.pdf">(link)</a> <br>
                In class worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/avl_aug_worksheet_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1">(link)</a>
            </p>
            <p>Interval Trees Solutions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/w3_worksheet_interval.pdf">(link)</a> <br>
                Interval Trees In Class <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/w3_worksheet_interval_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/79LC30arivLpru-P863qalDb3ZjdsfdFrBMQPw-LuxDxxyvhcF_SURRw1zHHzgoW4UaVzrkNw-akYHC9.z4jw34MXv1txuaEo">(link)</a>

            </p>
            <p>AVL Trees Insert/Delete  <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-03.pdf">(link)</a></p>
            <p>Tutorial Solutions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-03_soln.pdf">(link)</a></p>
        </div>

        <div id="week4" class="inner-flexbox">
            <p>4</p>
            <p>Finish Interval Trees, Heaps and Graph Search Algorithms</p>
            <p>None</p>
            <p>Chapter 6.1-6.4</p>
            <p>Interval Tree Search Proof <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/w3__interval_inclass_feb3.pdf">(link)</a> <br>
                In class worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/avl_aug_worksheet_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/xe3-BWhQIa99HuA6ar-kqNg028IUwxpfPnCN0r4sFtxP0_-MDbeK6coEm-bLm7b8GzO6FTwMXr9uqcMf.IvWbqDbkC9o5p3R1">(link)</a>
            </p>
            <p>Interval Trees Solutions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w3/w3_worksheet_interval.pdf">(link)</a> <br>
                Heaps worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w4/heaps_worksheet.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/zpBKZxDPmhHRldejrZ0fnXt1Cvrp0ofjSzjzXwQiDCrBze29y1GDemjGLp8uMLg0txf5m4_Sl_j8Zg0g.17AKCDIZldEHg825">(link)</a>
            </p>
            <p>None</p>
            <p>None</p>
        </div>

        <div id="week5" class="inner-flexbox">
            <p>5</p>
            <p>Graph Searches and Minimum Spanning Trees</p>
            <p>Term Test Wed</p>
            <p>If you have not had your tutorial, read the graph handout on the tutorials page.</p>
            <p>None</p>
            <p>Graph Search Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/graphs.pdf">(link)</a> <br>
                Searches Worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w4/graphs_worksheet.pdf">(link)</a> <br>
                MST Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/graphs.pdf">(link)</a> <br>
                MST Worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/worksheet_mst.pdf">(link)</a> <br>
                MST Worksheet Solutions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/worksheet_mst_solns.pdf">(link)</a> <br>
                In Class Graph Notes - MST in class Only to slide 15 <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/graphs_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/SCnzsPIBWdq0QN1KR9XM6yNQrRbY0n7iQwRZWlzycAsmUBJ0Qo0BlSLbE3jDoBP0TXfExU3mQcmS0jwS.5o01Wyhv502R1fm9">(link)</a>
            </p>
            <p>Graph Definitions <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w5/graph_reading.pdf">(link)</a> <br>
                BFS Handout <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/BFS_tut5.pdf">(link)</a> <br>
                BFS practice <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-05.pdf">(link)</a> <br>
            </p>
            <p>None</p>
        </div>

        <div id="week6" class="inner-flexbox">
            <p>6</p>
            <p>Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components</p>
            <p>Ch 24.3, Practice Prims algorithm</p>
            <p>22.5, Review DFS - make sure you understand it</p>
            <p>MST In Class worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w6/worksheet_mst_inclass.pdf">(link)</a> <br>
                Dijkstra Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w6/dijkstra.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/s8HE2dtGwcl7OWtfMMlQ9I_ivR3mmbieSP3lPhYygBqdIj7Do-uExVtGY5Ln-f0Pj9whkVdMS5w8hIU4.Glja1FlY-UeG3zYv">(link)</a>
            </p>
            <p>Strongly Connected Components Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w6/scc_handout.pdf">(link)</a> <br>
                SCC Examples <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w6/SCC_examples.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/-Trk15VmueBwP8g1ewUUDeMIp-jSbJT8RDztfFgbkbVvsJBFNTLr6h4ootD2bC7jyX9HiQomclqYqbYH.XEg8QLRQfSMQ0iv4">(link)</a>
            </p>
            <p>MSTs and Prims Algorithm <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-06.pdf">(link)</a></p>
            <p>None</p>
        </div>

        <div id="week7" class="inner-flexbox">
            <p>7</p>
            <p>Amortized Analysis</p>
            <p>Ch. 17.4, Ch. 21</p>
            <p> </p>
            <p> Amortized Lecture slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/amortized_handout.pdf">(link)</a> <br>
                Amortized Lecture slides In Class <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/amortized_handout_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M">(link)</a>
            </p>
            <p>Potential Lecture slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/potential.pdf">(link)</a> <br>
                Potential Lecture In Class <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/potential_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb">(link)</a>
            </p>
            <p>Dijkstra <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial7.pdf">(link)</a> </p>
            <p>None</p>
        </div>

        <div id="week8" class="inner-flexbox">
            <p>8</p>
            <p>Disjoint Sets, Fibonacci Heaps</p>
            <p>Ch. 20</p>
            <p> </p>
            <p> Amortized Lecture slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/amortized_handout.pdf">(link)</a> <br>
                Amortized Lecture slides In Class <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/amortized_handout_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/Ms9uZypiMbcYSes1jevEOJZf8cqMq_PBybH85r2rEdaARuXQOQcWF3dYgiaidZqGQTuaqchmJ1-hax4D.JS_0iOHyLPMjt66M">(link)</a>
            </p>
            <p>Potential Lecture slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/potential.pdf">(link)</a> <br>
                Potential Lecture In Class <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/potential_inclass.pdf">(link)</a> <br>
                Zoom Recording <a href="https://utoronto.zoom.us/rec/play/CkJgpEBfL2nrdOuItJHlNO5xC3Uvy4-yYQePug3l-GEWE0h1ANwKM3H-pIrUfDv8WMUcJRXbFdaSUHi3.AmfGlBo6OeKxBGrb">(link)</a>
            </p>
            <p>Amortized Analysis - Binary Counter  <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial-08_2021.pdf">(link)</a></p>
            <p>None</p>
        </div>

        <div id="week9" class="inner-flexbox">
            <p>9</p>
            <p>Fibonacci Complexity, Probability and Expected Case Analysis</p>
            <p>Ch. 20</p>
            <p> </p>
            <p>Potential Lecture Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w7/potential.pdf">(link)</a> <br>
                (sorry - my recording didn't take - I'll do it again)
            </p>
            <p>
                Average/Expected case Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w9/avg_case.pdf">(link)</a>
            </p>
            <p>Probability <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/tutorial9.pdf">(link)</a> </p>
            <p>None</p>
        </div>

    </div>
{% endblock %}
