{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a  href="{{ url_for("home") }}">Home</a></li>
        <li><a href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a  href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a class="active" href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}
    <div>

        <h1>Assignments: </h1>
        <h2> All assignments are to be submitted to <a href="https://www.gradescope.com/">Gradescope</a></h2>
        <div id="a1" class="sectionStuff">
            <h1><strong>Assignment 1:</strong> </h1>
            <h3>Notes: Small update Jan. 27 (noted in red)</h3>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a1.pdf"> Assignment 1 PDF</a>
            <br>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a1.tex">Assignment 1 TEX</a>
        </div>
        <div id="a2"class="sectionStuff">
            <h1><strong>Assignment 2:</strong> </h1>
            <h3>Notes: Small update Jan. 27 (noted in red)</h3>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a1.pdf"> Assignment 2 PDF</a>
            <br>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a1.tex">Assignment 2 TEX</a>
        </div>
        <div id="a3"class="sectionStuff">
            <h1><strong>Assignment 3:</strong> </h1>
            <h3>Notes: New due date (Sunday March 21 at noon).</h3>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a3/a3.pdf"> Assignment 3 PDF</a>
            <br>
            <a target="_blank" href="https://mathlab.utsc.utoronto.ca/bretscher/b63/assignments/a3/a3.tex">Assignment 3 TEX</a>
        </div>
    </div>

{% endblock %}
