{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a  href="{{ url_for("home") }}">Home</a></li>
        <li><a class="active" href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}

    <div>
        <div id="headerrow" class="inner-flexbox">

            <p>Week</p>
            <p>Topic</p>
            <p>Wed Pre-Lecture Reading/Exercise</p>
            <p>Thursday Pre-Lecture Reading/Exercise</p>
            <p>Wednesday Slides/Video</p>
            <p>Thursday Slides/Video</p>
            <p>Tutorial Handout</p>
            <p>Tutorial Solutions</p>


        </div>
        <div id="week1" class="inner-flexbox">
            <p>1</p>
            <p>Intro, Worst Case Complexity</p>
            <p>None</p>
            <p>CLRS 3.1 (not including little "oh") or watch Big Oh Video <a href="https://www.youtube.com/watch?v=__vX2sjlpXU">(link)</a>
                Insertion Sort Video <a href="https://www.youtube.com/watch?v=JU767SDMDvA">(link)</a>
            </p>
            <p>Intro slides PDF (link)</p>
            <p>Worksheet PDF <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/worksheet1.pdf">(link)</a><br> Zoom
                <a href="https://utoronto.zoom.us/rec/play/w5Ims_xwzyJUVhutTMqNBT0caqXCWYyMWx5X-FJvA1dFPpCrjdO8V5osw6hsxEM74HVTmX9jZ2jdwCLj.qvnXbtIQPChGF0bo">(link)</a> <br>
                In class worksheet <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/worksheet1_inclass.pdf">(link)</a> <br>
                PDF of Slides <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/complexity.pdf">(link)</a>
            </p>
            <p>Tutorial Handout</p>
            <p>Tutorial Solutions</p>


        </div>

    </div>
{% endblock %}