{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a class="active" href="{{ url_for("home") }}">Home</a></li>
        <li><a href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}

    <div>
        <h1 > Homepage -- Essentials</h1>


        <div class="sectionStuff">
            <h3> Course description</h3>
        <p>

            Design, analysis, implementation and comparison of efficient data structures for common abstract data types. Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. Graph searches.
            <br>
            <br>
            Exclusion CSC263H, CSC265H, (CSCC78H)
            <br>
            <br>
            Prerequisite CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]
            <br>
            <br>
            Syllabus on the first lecture slides.
            </p>
        </div>
        <div class="sectionStuff">
            <h3>Instructor</h3>
            <p>
                Dr. Anna Bretscher
                Email: <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a>
                Office: IC 493
            </p>

        </div>
        <div class="sectionStuff">
            <h3>Timetable</h3>
            <p> <b>Lectures:</b>
                Wednesdays 3-4pm <a href="https://utoronto.zoom.us/j/89553548645"> Zoom Link </a>, Thursdays 9:10-11:00 <a href="https://utoronto.zoom.us/j/83378932991">Zoom Link</a>
            </p>

            <p> <b>Office hours:</b>
                Usually Mondays 11:00-12:30, Friday 10:40-11:30. Please see the calendar for weekly changes.
            </p>
        </div>
    </div>


{% endblock %}