{% extends "base.html" %}

{% block navbar %}
    <ul>
        <li><a  href="{{ url_for("home") }}">Home</a></li>
        <li><a href="{{ url_for("coursecontent") }}">Course Content</a></li>
        <li><a  href="{{ url_for("calendar") }}">Calendar</a></li>
        <li><a  href="{{ url_for("coursework") }}">Coursework</a></li>
        <li><a class="active" href="{{ url_for("links") }}">Links</a></li>
    </ul>

{% endblock %}

{% block main %}
    <div>
        <h1>Relavent Links:</h1>
        <div id="piazza" class="sectionStuff">
            <h1>Piazza</h1>
            <a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">Link to Piazza</a>
        </div>
        <div id="markus" class="sectionStuff">
            <h1>Markus</h1>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">Link to Markus</a>
        </div>
        <div id="latex" class="sectionStuff">
            <h1>Latex</h1>
            <p>
                For LaTeX installations, go to the latex project install <a href="http://latex-project.org/ftp.html">
                website</a>. Both the Windows and Mac versions listed come with editors as well as the packages and compilers.
                Both the Windows and Mac versions listed come with editors as well as the packages and compilers.
                <br>
                <br>
                Once you are up and running, I recommend downloading the <a href="http://tobi.oetiker.ch/lshort/lshort.pdf">
                Not So Short Guide to LaTeX.</a>
                Everything you need is there, however it may be overkill.
                You can also start with this <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex">
                template.tex</a>  and add as you need.
            </p>
        </div>
        <div id="feedback" class="sectionStuff">
            <h1>Feedback</h1>
            <p>Please give feedback on improvements that could be made for this course
                <a target="_blank" href="https://forms.gle/HWCstdeUqZCXeRWm7"> here</a>
            </p>
        </div>

    </div>

{% endblock %}